* {
    font-family: 'Raleway',sans-serif;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
  
}


a, ul {
    color:rgb(77, 76, 76);
    display: inline-block;
    text-decoration: none;
}

h2 { 
    font-size: 22px; 
    font-weight: 600;
    align-self: start;
}

#aboutme-box {
    display: flex; 

    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;

    width: 1060px;
    padding: 100px;

    margin-top: 100px;
    margin-bottom: 100px;

}

#aboutme-txt {
    margin: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}

.uper {
    width: 500px; 
    font-weight: bold; 
    letter-spacing: 1px;
    text-align: center;
}

.lower {
    width: 960px; 
    font-weight: 500; 
    letter-spacing: 1px;
    text-align: justify;
}

.head-title {
    margin-top: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#aboutme-txt-ed {
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px; 
    color: rgb(0, 0, 0); 
}

#block-experience{
    width: 1060px;
    height: 700px;
    padding: 100px;
    margin-top: 100px;
}


@media screen and (min-width: 400px) {
    #header-msg-img{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
    .head-title {
        width: 100%;
        word-break: keep-all;
        text-align: center;
    }
    .uper {
        font-size: 18px;   
    }

    .lower{
        font-size: 17px;
        margin-top: 0px;
    }
   
    .img-profile {
        border-radius: 50%; 
         
        margin-top: 0px;
    }
    #header-msg-text{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
  }
  

  #img-container{
    display: inline-block;
  }
  
  @media screen and (min-width: 800px) {
    #header-msg-img{ 
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        margin-top: 30px;
    }
    .head-title{
        font-size: 23px; 
    }
    .img-profile {
        border-radius: 50%; 
        width: 40%; 
        margin-top: 30px;
    }

    #header-msg-text{
        display: flex; 
        flex-direction: row;
        margin: 0 auto 0 auto;
        margin-top: 30px;
        width: 1060px;
        padding: 100px;
       
    }
  }